*{
    padding:0;
    margin:0;

}

.main{
    width:100vw;
    height:100vh;
    background-image: url('../../public/4004374.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.form-main{
    width:600px;
    height:300px;
    background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
transition: all 1s;
}

.form-main:hover{
    box-shadow: 0 0 0 0 rgba( 31, 38, 135, 0.37 );
}

.bnav-main{
    width: 400px;
    height:75px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.bnav-main > div:nth-child(1),.bnav-main > div:nth-child(2){
    border-right: 2px solid aliceblue;
    transition: all 1s;
}

.bnav-main > div:nth-child(1):hover , .bnav-main > div:nth-child(2):hover{
    border-right:0px ;
    border-bottom: 2px solid aliceblue;
    
}

.bnav-main:hover{
     box-shadow: 0 0 0 0 rgba( 31, 38, 135, 0.37 );
}




.l1,.l2{
    width: 40px;
    height: 40px;
}


button{
    width:300px;
}

.i1,.i2,.i3{
    width:90px;
    height: 100px;
}

.ff{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}