@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

*{
    padding:0;
    margin:0;
    font-family: 'Lato', sans-serif;
    font-size: large;
    font-weight: 700;
}


.main{
    width:100vw;
    height:100vh;
    background-image: url('../../public/4004374.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.form-main{
    width:600px;
    height:300px;
    background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
transition: all 1s;
}

.form-main:hover{
    box-shadow: 0 0 0 0 rgba( 31, 38, 135, 0.37 );
}

.bnav-main{
    width: 400px;
    height:75px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.bnav-main > div:nth-child(1),.bnav-main > div:nth-child(2){
    border-right: 0px solid aliceblue;
    transition: all 1s;

}

.bnav-main > div:nth-child(1):hover , .bnav-main > div:nth-child(2):hover{
    border:0px 2px solid aliceblue;
    
}





.l1,.l2{
    width: 40px;
    height: 40px;
    cursor: pointer;
}



.v1,.v2{
    width:180px;
    padding: 10px;
}
.v1,.v2,.v3{
    border-radius: 10px;
}


button{
    width:80px;
    border-radius: 10px;
    height: 30px;
    background-color: #E55451;
    color:aliceblue;
    cursor:pointer;
}
.flex-btn{
    width:100%;
    display: flex;
    justify-content: space-between;
    
    
}

.flex-this{
    width:500px;
}
.flex-this>p{
    display: flex;
    justify-content: center;
    font-size: medium;
}

.i1,.i2,.i3{
    width:120px;
    height: 130px;
    cursor: pointer;
    border-radius: 10px;
}

.ff{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.form-main{
    display: flex;
    padding: 20px;
    gap:60px;
}

.i2{
    z-index: 1;
    border:1px solid aliceblue;
    transition: all 1s;
}

.i1{
    z-index: -1;
    transform: rotate(-20deg);
    transition: all 1s;
    box-shadow: 0.0px 0.0px 0.0px hsl(0deg 0% 0% / 0.50);
}
.i3{
    z-index: -1;
    transform: rotate(20deg);
    transition: all 1s;
}
.i1:hover{
    scale: 1.2;
    box-shadow: 7.2px 14.4px 14.4px hsl(0deg 0% 0% / 0.28);
}

.i2:hover{
    scale:1.3;
}
.i3:hover{
    scale:1.2
}
.fi1{
    width:120px;
    height: 130px;
    z-index: -1;
    transform: rotate(-20deg);
    box-shadow: 7.2px 14.4px 14.4px hsl(0deg 0% 0% / 0.28);
    scale: 1.2;
    border-radius: 10px;

}
.fi2{
    width:120px;
    height: 130px;
    z-index: -1;
    border-radius: 10px;
    box-shadow: 7.2px 14.4px 14.4px hsl(0deg 0% 0% / 0.28);
    scale: 1.2;
}

.fi3{
    width:120px;
    height: 130px;
    z-index: -1;
    border-radius: 10px;
    transform: rotate(20deg);
    box-shadow: 7.2px 14.4px 14.4px hsl(0deg 0% 0% / 0.28);
    scale: 1.2;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
h1{
    font-weight: 900;
    font-size: 30px;
    color:rosybrown;
    font-family: 'Love Light', cursive;
}
.behind-fodo{
    position: absolute;
    
}